:root {
    --origin: 50%;
    --origin-spindle:39.5%;
    --size: 50%;
}
.record-container, .cassette-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15rem;
}
.record-player {
    position: relative;
}
.record {
    position: absolute;
    top: 10px;
    left: 20px;
}
.record-arm {
    position: absolute;
    top: -130px;
    right: -60px;
    animation: record-arm 60s linear 0s infinite normal forwards;
    transform-origin: var(--origin) var(--origin);
}
#record-main {
    animation: record 1818ms linear 0s infinite normal forwards;
    transform-origin: var(--origin) var(--origin);
}

#tape-L {
    animation: tape 2800ms linear 0s infinite normal forwards;
    /*transform-origin: var(--origin-spindle) var(--origin-spindle);*/
    transform-origin: 34.8% 45%;
}

#tape-R {
    animation: tape 1818ms linear 0s infinite normal forwards;
    /*transform-origin: var(--origin-spindle) var(--origin-spindle);*/
    transform-origin: 65.16% 45%;
}

.lyrics {
    font-size: 1.5rem;
    text-align: center;
    max-width: 90%;
}
q {
    font-style: italic;
}
a {
    font-size: 3rem;
}
#record-highlight {
    animation: highlight 100ms linear 0s infinite alternate backwards;
    transform-origin: var(--origin) var(--origin);
}

@keyframes record {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes tape {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes record-arm {
    0% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(22deg);
    }

    100% {
        transform: rotate(-2deg);
    }
}

@keyframes highlight {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(2deg);
    }
}

@media only screen and (max-width: 640px)  {
        .record-container {
            display: none;
        }
}
@media only screen and (min-width: 641px) {
    .cassette-container {
        display: none;
    }
}