:root {
    --origin: 50%;
    --size: 50%;
}
.record-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
}
.record-player {
    position: relative;
}
.record {
    position: absolute;
    top: 10px;
    left: 20px;
}
.record-arm {
    position: absolute;
    top: -130px;
    right: -60px;
    animation: record-arm 60s linear 0s infinite normal forwards;
    transform-origin: var(--origin) var(--origin);
}
#record-main {
    animation: record 1818ms linear 0s infinite normal forwards;
    transform-origin: var(--origin) var(--origin);
}
.lyrics {
    font-size: 2rem;
    text-align: center;
    max-width: 90%;
}
q {
    font-style: italic;
}
a {
    font-size: 3rem;
}
#record-highlight {
    animation: highlight 100ms linear 0s infinite alternate backwards;
    transform-origin: var(--origin) var(--origin);
}

@keyframes record {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes record-arm {
    0% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(22deg);
    }

    100% {
        transform: rotate(-2deg);
    }
}

@keyframes highlight {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(2deg);
    }
}

@media only screen and (max-width: 600px)  {
        .record-arm, .record, .record-arm {
            height: var(--size);
            width: var(--size);
        }
}