:root {
    /* colours */
    --white-0: rgb(255,255,255);
    --white-1: rgb(222,222,222);
    --white-2: rgb(181,181,181);
    --white-3: rgb(126,126,126);

    --grey-0: rgb(51,51,51);
    --grey-1: rgb(60,60,60);
    --grey-2: rgb(76,76,76);
    --grey-3: rgb(89, 89, 89);

    /* gradients */
    --main-bg-grad: linear-gradient(163deg, #333 42%, #2A2A2A 90.61%);

    /* fonts */
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-800: 800;
    --font-weight-900: 900;

    /* set heights */
    --h-1: 8rem;
    --h-1-2: 6rem;
    --h-2: 4rem;
    --h-3: 3.2rem;
    --h-4: 2.4rem;
    --h-5: 1.6rem;
    --h-6: 1.2rem;
    --h-7: 0.8rem;

}

html {
    color-scheme: dark light;
    font-size: 62.5%;
}

body {
    margin: 0 auto;
    background: var(--main-bg-grad);
    font-family: "Inter", sans-serif;
    font-size: var(--h-5);
    color: var(--white-0);
}

*, *::before, *::after {
    box-sizing: border-box;
    border: 1px solid dimgrey;
}


h1 {
    font-family: "Inter", sans-serif;
    font-size: 5.0rem;

}

h2 {
    font-family: "Inter", sans-serif;
    font-weight: var(--font-weight-500);
    font-size: var(--h-3);
    display:block;
    width: 100%;
    margin: 0;
    @media (max-width: 500px) {
        font-size: var(--h-4);
    }
}

h3 {
    font-family: "Inter", sans-serif;
    font-size: 2rem;
}

p {
    font-family: "Inter", sans-serif;
    font-size: var(--h-5);
    /*border: 0.1rem solid red;*/
    display: inline;
}

.small {
    font-family: "Inter", sans-serif;
    font-size: var(--h-6);
    font-weight:  var(--font-weight-300);
}

.small--bold {
    font-family: "Inter", sans-serif;
    font-size: var(--h-6);
    font-weight:  var(--font-weight-900);
}
.wrapper {
    display: flex;
    gap:  var(--h-2);
    flex-direction: column;
    margin: auto;
    max-width: 108rem;
    padding:  var(--h-2);
    @media (max-width: 500px) {
        padding: var(--h-6);
    }
}
.container{
    width: 100%;
    padding: var(--h-4) ;
    background: var(--white-3);

    border-radius: var(--h-6);
    display: flex;
    align-content: stretch;
    flex-direction: column;

    @media (max-width: 500px) {
        border-radius:  var(--h-7);
    }
}




.logo-container {
    display: flex;
    flex-direction: column;
    align-items:center;

    & p {
        text-align: center;
    };
    & a {
        font-family: "Jockey One", serif;
        font-size: 8rem;
        font-weight: var(--font-weight-400);
        text-align: center;
        @media (max-width: 500px) {
            font-size: var(--h-1-2);
        }
    };
}

a {
    text-decoration: none;
    color: var(--white-1)
}

.card {
    background-color: var(--grey-1);
    display: flex;
}

input {
    height: 4.8rem;
    width: 100%;
    display: flex;
    color: var(--white-0);
    background-color: var(--grey-2);
    border: 0.1rem solid var(--white-3);
    border-radius: var(--h-4);
    gap: var(--h-5);
    padding: var(--h-5);
    padding-right: 5.6rem;

    &:hover {
        background-color: var(--grey-2);
        opacity: 90%;
        border: 0.1rem solid var(--white-3);
    }

    &:focus-visible {
        background-color: var(--grey-2);
        /*border: 0.1rem solid green;*/
        outline: none;
        border: 0.1rem solid var(--white-2);

    }



}



.search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content:center;
    width: 100%;
    gap: var(--h-2);
    flex-grow: 1;

    & .search-input{
        display: flex;
        min-width: 31.2rem;
        max-width: 48rem;
        width:100%;
        align-items: center;
        position:relative;


        &::after {
            content: url('../icons/search_x24.svg');
            width: var(--h-4);
            height: var(--h-4);
            position: absolute;
            right: var(--h-5);
        }


    }
}

.title-floating {
    padding-left:  var(--h-4);
}

::-ms-input-placeholder { /* Edge 12-18 */
    color: var(--white-2);
}

::placeholder {
    color: var(--white-2);
}




