:root {
    /* colours */
    /* white */
    --white-0: rgb(255,255,255);
    --white-1: rgb(220,220,220);
    --white-2: rgb(180,180,180);
    --white-3: rgb(130,130,130);
    --white-4: rgba(110,110,110);

    /* grey */
    --grey-0: rgb(50,50,50);
    --grey-1: rgb(70,70,70);
    --grey-2: rgb(80,80,80);
    --grey-3: rgb(90, 90, 90);
    --grey-4: rgb(95, 95, 95);
    --grey-5: rgb(100, 100, 100);

    /* black */
    --black-0: rgba(40, 40, 40, 80);
    --black-1: rgba(40, 40, 40, 50);
    --black-2: rgba(40, 40, 40, 20);

    /* green */
    --green-0: #16B3C9;
    --green-1: rgb(17 144 163);
    --green-2: rgb(14 109 124);
    --green-3: #176267;
    /* purple */
    --purple-purp: rgb(106 88 175);
    --purple-pink: rgb(143 43 133);

    /* shadows */
    /* light */
    --shadow-light-0: drop-shadow(2px 2px 8px var(--grey-1));
    --shadow-light-1: drop-shadow(2px 2px 8px var(--grey-2));

    /* dark */
    --shadow-dark-0: drop-shadow(1px 1px 4px var(--black-1));
    --shadow-dark-1: drop-shadow(1px 1px 4px var(--black-2));

    /* gradients */
    --main-bg-grad: linear-gradient(163deg, var(--grey-0) 42%, var(--grey-1) 90.61%);
    --event-bg-grad: radial-gradient(80.83% 80.83% at 50% 50%, var(--purple-purp) 20%, var(--purple-pink) 100%);
    --main-grad: linear-gradient(90deg, var(--green-3) 0%, var(--green-0) 100%);
    --filter-bar: linear-gradient(to right, var(--white-4) 25%, var(--green-0) 20%, var(--white-4) 60%);


    /* fonts */
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-800: 800;
    --font-weight-900: 900;

    /* radius */
    --radius-xl: 2.4rem;
    --radius-lg: 1.2rem;
    --radius-md: 0.8rem;
    --radius-sm: 0.4rem;

    /* icons to change with js */
    --show-hide-icon: url('../icons/show_x24.svg');
    --search-cancel-icon: url('../icons/search_x24.svg');
}


/* main */
html {
    color-scheme: dark light;
    font-size: 62.5%;
}

body {
    margin: 0 auto;
    background: var(--main-bg-grad);
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    color: var(--white-0);
}

/* spotify player */
iframe {
    color-scheme: normal;
    height: 10.5rem;
    padding: 1.2rem 0 0 0;
}

/*Mapbox styling*/

#map {
    border-radius:  var(--radius-md);
    width: 100%;
    max-height: 100%;
    position: relative;
    @media (min-width: 801px) {
        margin-right: 1rem;
    }
    @media (max-width: 800px) {
        max-height: 40rem;
        aspect-ratio: 1/1;
        align-self: center;
    }
}

.marker {
    background-image: url("/icons/marker-3d.svg");
    background-size: cover;
    width: 2rem;
    height: 5rem;
    cursor: pointer;
}

[class^="mapbox"] * {
    &:focus-visible {
        border: none;
        outline: none;
    }
}

.mapboxgl-popup-tip {
    z-index: 9999;
    scale: 1.1;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip, .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip, .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: var(--grey-1) !important;
}
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    align-self: auto !important;
    position: relative;
    left: 22.8rem !important;
    top: 0.5rem !important;
    scale: 1.5 !important;
}

.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
    align-self: auto !important;
    position: relative;
    right: -0.2rem  !important;
    top: 0.5rem !important;
    scale: 1.5 !important;
}

.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    align-self: auto !important;
    position: relative;
    left: 22.8rem !important;
    bottom: 0.5rem !important;
    scale: 1.5 !important;
}

.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
    align-self: auto !important;
    position: relative;
    right: -0.2rem !important;
    bottom: 0.5rem !important;
    scale: 1.5 !important;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip, .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip, .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip{
    border-bottom-color: var(--grey-1) !important;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: var(--grey-1) !important;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: var(--grey-1) !important;
}

.mapboxgl-popup-content {
    color: var(--white-1);
    border-radius: 0.8rem !important;
    padding: 1.6rem 1.2rem !important;
    padding-bottom: 0.4rem !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 1.2rem !important;
    background-color: var(--grey-1) !important;
    max-width: 24rem;g
    & > * {
        margin: 0;
    }
    & .content {
        padding: 0 !important;
        border-radius: var(--radius-sm) !important;
        width: 100% !important;
        align-items: center !important;
        gap: 1.2rem !important;
        position: relative;
        max-height: 9.2rem;
        & .small {
            top: calc(50% - 0.76rem);
            left: 7.6rem;
        }
        & .date {
            scroll-snap-align: start;
        }
        &:hover {
            background: none;
        }
        &.scroll {
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            padding-bottom: 0.8rem !important;
            &::-webkit-scrollbar-track {
                background: var(--grey-1);
            }
            /* Adjust scrollbar dimensions */
            &::-webkit-scrollbar {
                width: 0.8rem;
                height: 0.8rem;
            }
        }
}
}

.mapboxgl-popup-close-button {
color: var(--white-0);
font-size: 2.4rem;
border-radius: 1.2rem;
}

#mapProject {
}
.globe, .kaart, #kaartReset {
    height: 2.4rem;
    width: 2.4rem;
}
.globe {
    background: url("../icons/globe.svg") no-repeat;
    cursor: pointer;

    &:hover {
        background: url("../icons/globe_light.svg") no-repeat;
    }
}
.kaart {
    background: url("../icons/map.svg") no-repeat;
    cursor: pointer;

    &:hover {
        background: url("../icons/map_light.svg") no-repeat;
    }
}
#kaartReset {
    background: url("../icons/reset.svg") no-repeat;
    padding: 1.2rem;
    cursor: pointer;

    &:hover {
        background: url("../icons/reset_light.svg") no-repeat;
    }
}

*, *::before, *::after {
/*outline: 1px solid dimgrey;*/
}

/* text */
h1 {
    font-family: "Inter", sans-serif;
    font-size: 5.2rem;
    text-align: left;
}

h2 {
    font-family: "Inter", sans-serif;
    font-weight: var(--font-weight-500);
    font-size: 2.4rem;
    display:block;
    width: 100%;
    margin: 0;
    transition: font-size 500ms;
    @media (max-width: 800px) {
        font-size: 2rem;
    }
}

h3 {
    font-family: "Inter", sans-serif;
    font-weight: var(--font-weight-500);
    font-size: 1.6rem;
    display:block;
    width: 100%;
    margin: 0;
    transition: font-size 500ms;
    @media (max-width: 800px) {
        font-size: 1.2rem;
    }
}

p {
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    margin-block-end: 0;
    margin-block-start: 0;
}

.p--bold {
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight:  var(--font-weight-500);
    line-height: normal;
    display: block;
    /*align-self: center;*/
}

a {
    text-decoration: none;
    color: var(--white-1)
}

.small {
    /*display: flex;*/
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    font-weight:  var(--font-weight-400);
    font-style: normal;
    line-height: normal;
    justify-content: flex-start;

    &.light {
        color: var(--white-2);
    }

    &.center{
        text-align: center;
        align-self: center;
        max-width: fit-content;
        text-wrap: nowrap;
    }

}

.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.justify {
    text-align: justify;
}

.small--bold {
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    font-weight:  var(--font-weight-600);
}
.cut{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.floating-md {
    padding-left:  2.4rem;
    padding-right:  2.4rem;
    transition: padding-left 500ms;
    gap: 0.8rem;
    @media (max-width:800px){
        padding-left: 1.6rem;
        padding-right:  1.6rem;
    }
    @media (max-width:500px){
        padding-left: 0.8rem;
        padding-right:  0.8rem;
    }
}

.floating-sm {
    padding-left:  1.2rem;
    padding-right:  1.2rem;

    transition: padding-left 500ms;
    gap: 0.8rem;
    @media (max-width:800px){
        padding-left: 0.8rem;
        padding-right:  0.8rem;
    }
    @media (max-width:500px){
        padding-left: 0.4rem;
        padding-right:  0.4rem;
    }
}

::-ms-input-placeholder { /* Edge 12-18 */
    color: var(--white-2);
}

::placeholder {
    color: var(--white-2);
}

/* scrollbar styling */
.scroll {
    overflow-x: auto;
    overflow-y: auto;
    & > * {
        height: max-content;
    }

    padding-right: 1rem;
    &::-webkit-scrollbar {
        width: 0.8rem;
        height: 0.8rem;
    }
    &::-webkit-scrollbar-track {
        margin: 0.4rem;
        width: 0.8rem;
        height: 0.8rem;
        background: var(--grey-1);
        border-radius: var(--radius-lg);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--green-0);
        border-radius: var(--radius-lg);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--green-1);
    }
}


/* containers */
.wrapper {
    display: flex;
    gap:  4rem;
    flex-direction: column;
    margin: auto;
    max-width: 108rem;
    transition: padding 500ms;
    padding: 0 4rem 4rem;
    /* overflow: hidden; */
    /* Rin changed because calendar pop up getting cut off */
    overflow: visible;
    &.artistwrapper {
        padding: 4rem;


        @media (max-width: 800px) {
            padding: 4rem 1.2rem 4rem 1.2rem;

        }
        @media (max-width: 550px) {
            padding: 4rem 0.8rem 4rem 0.8rem;
        }
    }
    @media (max-width: 800px) {
        padding: 1.2rem;

    }
    @media (max-width: 550px) {
        padding: 0.8rem;
    }
}

.linkback {
    position: absolute;
    top: 1.5rem;
    left: 0;
    align-self: start;
    background: url("/icons/long-arrow-left_x24.svg") no-repeat 1rem .3rem;
    height: 3rem;
    width: 4rem;

    &:hover {
        background: rgba(1 1 1 / .3) url("/icons/long-arrow-left_x24_green.svg") no-repeat 1rem .3rem;
        border-radius: 0 1.5rem 1.5rem 0;
    }
}

#artist-profile {
    &:hover {
        background: none;
    }
}


.artist-details-small {
    align-self: start;
    max-width: 100%;
    overflow-x: auto;
    flex-wrap: nowrap;
    & p {
        margin: 0.3rem;
    }
}

.container {
    width: 100%;
    padding: 2.4rem;
    background: var(--grey-3);
    border-radius: var(--radius-lg);
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    transition: border-radius 500ms, padding 500ms;
    filter: var(--shadow-dark-0);

    &#filter-checkbox-locations {
        max-height: 20rem;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        padding: 0.2rem 0.8rem 0.2rem 0.2rem;
        width: 100%;
        gap: 0;
    }

    &#search-results > .scroll, &#artist-albums > .scroll{
        max-height: 50rem;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        width: 100%;
    }

    &#home-concerts, &#artist-albums, &#artist-concerts {
        /*max-height: 50rem;*/

        & > * {
            &.go-across-lg, & .go-across-md {
                align-items: flex-start;
            }

            & .scroll {
                max-height: 30rem;
                overflow-y: auto;
                padding-right: 1.2rem;
                align-items: flex-start;
                gap: 0;

                & > * {
                    margin: 0;
                }
            }
        }
    }

    &#artist-albums {
        .container {
            padding-right: 0.4rem;
        }
    }

    &#artist-concerts, &#home-concerts {
        & > * {
            & .scroll {
                max-height: 50rem;
                /*width: 40%;*/
                gap: 0;
            }
        }
        @media (max-width: 800px) {
            max-height: fit-content;
        }
    }



    #home-artists, #home-albums, #home-concerts, #search-results, #artist-albums, #artist-concerts {
        transition: opacity 3s;
    }



    &#home-albums, &#home-artists, #artist-albums{
        overflow-y: hidden;
        padding: 2.4rem 0.4rem 0.4rem 0.4rem;
        @media (max-width: 800px) {
            padding: 1.6rem 0.4rem 0.4rem 0.4rem;
        }
        @media (max-width: 550px) {
            padding: 1.2rem 0.4rem 0.4rem 0.4rem;
        }

        & > * {
            padding: 0 2rem;
            @media (max-width: 800px) {
                padding: 0 1.2rem;
            }
            @media (max-width: 550px) {
                padding: 0 0.8rem;
            }
        }
    }


    &:has(.container) {
        padding: 0.4rem;
    }
    & .container {
        background: none;
        padding: 2rem;
        filter: none;
        @media (max-width: 800px) {
            padding: 0.8rem;
        }
    }

    &:has(#home-artists), &:has(#home-albums){
        padding: 0.4rem;
    }

    & .row {
        padding: 0;
        padding-bottom: 1.2rem !important;
    }



    @media (max-width: 800px) {
        border-radius:  var(--radius-md);
        padding: 1.2rem ;
        gap: 0.8rem;
    }
}

.logo-container {
    display: flex;
    flex-direction: column;
    gap: 0;

    & p {
        text-align: center;
        margin-top: 0;
    };
    & a {
        font-family: "Jockey One", serif;
        font-size: 8rem;
        font-weight: var(--font-weight-400);
        text-align: center;
        transition: font-size 500ms;
        margin-bottom: 0;
        line-height: 1.2;
        @media (max-width: 800px) {
            font-size: 6rem;
        }
    };
    & .sub-logo {
        opacity: 1;

        translate: 0 0;

        transition-property: translate opacity;
        transition-duration: .3s;
        transition-behavior: allow-discrete;

        @starting-style{
            max-height: 100%;
            translate: 0 -1.2rem;
            opacity: 0;
        }
    }
}

.search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content:center;
    width: 100%;
    gap: 2.4rem;
    flex-grow: 1;

    & .search-input{
        display: flex;
        width:100%;
        justify-content: center;
        align-items: center;
        position:relative;
        min-width: 31.2rem;
        max-width: 48rem;
        /*padding-right: 3.6rem;*/
        /*pointer-events: none;*/

        & #search-icon {
            position: absolute;
            top: 1.2rem;
            right: 1.6rem;
            width: 2.4rem;
            height: 2.4rem;
            cursor: pointer;
            /*display: none; !* Initially hidden *!*/
            background-size: contain; /* Ensure the icon is properly sized */
            background-image: var(--search-cancel-icon); /* Use your icon variable */
        }

        &:not(:placeholder-shown) ~ #clear-icon {
            display: block; /* Show clear icon when input has text */
        }

        /*&::after {*/
        /*    content: var(--search-cancel-icon);*/
        /*    width: 2.4rem;*/
        /*    height: 2.4rem;*/
        /*    position: absolute;*/
        /*    right: 1.6rem;*/
        /*    cursor: pointer;*/
        /*    !*pointer-events: auto;*!*/
        /*}*/

        &:hover {
            opacity: 90%;
        }
    }
}

/*.c1 {*/
/*    background-color: red;*/
/*}*/

/*.c2 {*/
/*    background-color: violet;*/
/*}*/

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1.2rem;
    overflow-x: auto;
    align-items: stretch;

    & .content {
        & .small {
            justify-content: center;
        }
    }

    & > * {
        flex-direction: column;
    }
}

.col {
    display: grid;
    gap: 1.2rem;
    /*height: max-content;*/
}

.col1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    width: 100%;
}

.col2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    @media (max-width: 550px){
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.col3 {

    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;

    @media (max-width: 800px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media (max-width: 550px){
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.col40-60 {

    grid-template-columns: 40% 60%;
    grid-template-areas: "a b";
    @media (max-width:800px) {
        grid-template-columns: 100%;
        grid-template-rows: auto 30rem;
        width: 100%;
        grid-template-areas:
                "b"
                "a";
    }
}

.concerts-list {
    grid-area: a;
}

.concerts-map {
    position: relative;
    display: flex;
    grid-area: b;
    justify-content: start;
    width: 100%;
    @media (max-width: 800px) {
        justify-content: center;
        height: fit-content;
    }
 }

.concerts-map-trans {
    position: relative;
    display: flex;
    grid-area: b;
    justify-content: start;
    width: 100%;
    /*animation: wipe 5000ms linear 0s 1 normal forwards;*/
    @media (max-width: 800px) {
        justify-content: center;
        height: fit-content;
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 1rem);
        height: 100%;
        background: rgba(1 1 1 / .9);
        z-index: 1000;
        border-radius: var(--radius-md);
        opacity: 0;
        animation: fade-in-out 400ms linear 0s 1 normal forwards;
    }
 }

@media (max-width: 800px) {
    .concerts-map-trans:after {
        width: 100%;
    }
}


/* interactive elements */
input {

    width: 100%;
    display: flex;
    color: var(--white-0);
    background-color: var(--grey-2);
    border: 0.2rem solid var(--white-4);
    border-radius: var(--radius-sm);
    gap: 1.6rem;


    &#search-input {
        height: 4.8rem;
        padding: 1.6rem;
        padding-right: 5.6rem;
        border-radius: var(--radius-xl);
    }


    &.checkbox {
        appearance: none;
        background: var(--grey-3);
        width: 2rem;
        height: 2rem;
        border: 0.2rem solid var(--white-4);
        cursor: pointer;


        &:hover {
            background-color: var(--grey-1);
            /*opacity: 90%;*/
            border: 0.2rem solid var(--grey-0);
            cursor: pointer;
        }

        &:focus-visible {
            background-color: var(--grey-2);
            outline: none;
            border: 0.2rem solid var(--white-3);
        }

        &:checked {
            position: relative;
            border-width: 0.2rem;
            width: 2rem;
            height: 2rem;
            appearance: none;
            background: var(--green-0);
            border-color: var(--green-0);

            &:hover {
                border-width: 0.2rem;
                border-color: var(--green-2);
                cursor: pointer;
            }

            &:after {
                content: url('../icons/tick_x16.svg');
                position: absolute;
                width: 100%;
                height: 100%;
                top: calc(50% - 0.75rem);
                left: calc(50% - 0.75rem);
                border: none;
                opacity: 1;
                outline: none;
            }
        }
    }


}

.checkbox {
    cursor: pointer;
    border-radius: var(--radius-sm);

    padding: 0.4rem 0.4rem;

    &:hover {
        background-color: var(--grey-2);
        /*opacity: 90%;*/
        cursor: pointer;
    }

    &:focus-visible {
        outline: none;
        border: 0.2rem solid var(--white-3);
    }
}




.content {
    display: flex;
    align-self: start;
    width: 100%;
    align-items: center;
    padding: 0.8rem;
    gap: 1.2rem;
    border-radius: var(--radius-md);
    flex: 1 1 auto;
    height: auto;

    &:hover {
        background-color: var(--grey-2);
    }

    & .pic {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-width: 6rem;
        max-width: 6rem;
        min-height: 6rem;
        max-height: 6rem;
        background: top / cover no-repeat;
        /*overflow: hidden;*/
    }

    & .smallpic {

        min-width: 3rem;
        max-width: 3rem;
        min-height: 3rem;
        max-height: 3rem;
    }

    & .album {
        border-radius: var(--radius-sm);
        background: rgba(1 1 1 / 0);
    }

    & .user {
        background: darkgrey;
        border-radius: 6rem;
        object-fit: cover;
        object-position: top;
    }

    & .date {
        flex-direction: column;
        font-family: "Jockey One", serif;
        font-size: 1.6rem;
        font-weight: var(--font-weight-400);
        transition: font-size 500ms;
        line-height: 1.2;
        background: var(--event-bg-grad);
        border-radius: 0.4rem;

        /*@media (max-width: 550px) {*/
        /*    font-weight: var(--font-weight-300);*/
        /*    font-size: 1.6rem;*/
        /*}*/

    }

    & .content-text {
        display: flex;
        gap: 0.4rem;
        flex: 1 0 0;
        align-items: flex-start;
        overflow: hidden;
        width: 100%;
        &.go-down-home {
            display: flex;
            gap: 0.4rem;
            flex-direction: column;
            overflow: visible;
            align-items: center;
            text-align: center;
            width: clamp(10rem, 14rem, 16rem);
            height: 100%;
        }
        &.go-down-home:has(.concert) {
            text-align: left;
        }
    }

    & .concert {
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        gap: 0.8rem;
        transition: gap 500ms;
    }
}

.go-down {
    display: flex;
    flex-direction: column;
}


.go-across-sm {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
}

.go-across-md {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;

    &.scroll {
        overflow-x: auto;
        padding: 0.4rem 0 0.8rem 0;
    }

    &:has(.member-item) {
        max-width: 100%;
    }
}

.go-across-lg {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.4rem;
}

.concerts-across {
    @media (max-width:800px){
        flex-direction: column;
    }

}

.divider-dot {
    width: 0.4rem;
    height: 0.4rem;
    background: var(--white-2);
    border-radius: 0.4rem;
}

.filters {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &#search-filters {
        align-items: center;
    }
}

.filter {
    width: 100%;
    padding-bottom: 1.2rem;
    transition: padding-bottom .4s;

}

#button-filter.hide-filters::after {
    content: url('../icons/hide_x24.svg');
}

.open {
    padding-bottom: 3.6rem;
}







.space{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 1;
    translate: 0 0;
    gap: 2.4rem;

    & label  {
        align-content:  center;
    }

    & p {
        margin: 0;
    }

    & #album-start-date, #artist-start-date {
        display: flex;
        padding: 1.2rem 1.6rem;
        align-items: center;
        gap: 1.6rem;
        max-width: 15rem;
    }

    /*& #album-end-date, #artist-end-date {*/
    /*    padding: 0;*/
    /*    min-width: 15rem;*/
    /*}*/
}

.filter-open {
    opacity: 1;
    translate: 0 0;
    transition-property: display opacity;
    transition-duration: .4s;
    transition-behavior: allow-discrete;

    @starting-style {
        translate: 0 -1.2rem;
    }
}


.hide {
    display: none !important;
    opacity: 0;
    translate: 0 -1.2rem;
    max-height: 2rem;
    transition-property: display opacity;
    transition-duration: .4s;
    transition-behavior: allow-discrete;
    z-index: 1;

    @starting-style{
        max-height: 100%;
        translate: 0 0;
        opacity: 1;
    }
}

.button {

    display: flex;
    position: relative;
    padding: 0.8rem 1.6rem ;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    border-radius: var(--radius-xl);

    height: 4rem;
    cursor: pointer;
    user-select: none; /* Prevent text selection */
    transition: background-color 0.3s, padding 500ms;
    filter: var(--shadow-dark-0);

    &.button-1 {
        background: var(--green-0);
        width: fit-content;

        &:has(.button-text)::before {
            width: 2.4rem;
            height: 2.4rem;
        }

        &#search-submit-filter::before {
            content: url('../icons/tick_x24.svg');
        }

        & p {
            margin: 0;
            padding-left: 3.2rem;
            @media (max-width:500px){
                font-size: 1.2rem;
            }
        }

        &:hover {
            background-color: var(--green-1);
            filter: var(--shadow-dark-1);
        }
        &:active {
            background-color: var(--green-2);
        }

        &::before {
            position: absolute;
            left: 1.6rem;
            transition: width 500ms, height 500ms, left 500ms;
        }
    }

    &.button-2 {
        background: var(--grey-2);

        &:hover {
            background-color: var(--grey-3);
            filter: var(--shadow-dark-1);
        }
        &:active {
            background-color: var(--grey-2);
        }
    }





    @media (max-width:500px){
        padding: 0.8rem 1.2rem ;
    }
    &::after {
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;
        right: 1.6rem;
        transition: width 500ms, height 500ms, right 500ms;
    }


    & .button-container {
        display: flex;
        & p {
            margin: 0;
            padding-left: 3.2rem;
            @media (max-width:500px){
                font-size: 1.2rem;
            }
        }
        &::before {
            position: absolute;
            left: 1.6rem;
            transition: width 500ms, height 500ms, left 500ms;
        }

        &:has(.button-text)::before {
            width: 2.4rem;
            height: 2.4rem;
        }

        &:has(#button-filter-number)::before {
            content: url('../icons/filter_x24.svg');
        }

        &:has(#button-filter-concert-location)::before {
            width: 1.6rem;
            height: 1.6rem;
            top: 22%;
            content: url('../icons/map-marker_x16.svg');
        }
    }



    &#button-filter{
        min-width: 15rem;
        max-width: 22rem;
        transition: max-width, 0.3s;

        @media (max-width: 500px) {
            max-width: 16rem;
        }
    }
    &#button-filter::after {
        width: 2.4rem;
        height: 2.4rem;
        content: var(--show-hide-icon) !important;
    }

    &#button-filter-checkbox::after {
       content: url('../icons/search_x16.svg');
        width: 1.6rem;
        height: 1.6rem;
        top: 22%;
    }
    &#album-start-date, &#artist-start-date {
        &::after {
            width: 1.6rem;
            height: 1.6rem;
            content: url('../icons/calendar_x16.svg');
            display: flex;
            justify-content: center;
            align-self: center;
            align-content: center;
            align-items: center;
        }
    }
}

.button-text {
    text-wrap: nowrap;
    width: max-content;
}

@media (max-width: 500px) {

    .button-container::before {
        width: 1.6rem !important;
        height: 1.6rem !important;
        top: 22%;
    }

    .button::after {
        width: 1.6rem !important;
        height: 1.6rem !important;
        top: 22%;
    }

    #button-filter::after {
        content: var(--show-hide-icon) !important;
    }
    #button-filter-checkbox::after {
        content: url('../icons/search_x16.svg') !important;
    }
    #button-filter-container::before {
        content: url('../icons/filter_x16.svg')!important;
    }
    #button-filter-checkbox-container::before {
        content: url('../icons/map-marker_x16.svg')!important;
    }
}

.filter-label-sm {
    width: 8rem;
    text-align: center;
    justify-content: center;


    @media (max-width: 800px) {
        width: 3.2rem;
    }
}

.filter-label-md {
    padding: 0;
    width: 15rem;
}


/* switch button styling */

.switch {
    position: relative;
    display: inline-block;
    width: 6rem;
    height: 3.4rem;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider-button {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white-0);
    -webkit-transition: .4s;
    transition: background-color .4s, transform .4s;
    height: 3.4rem;
    filter: var(--shadow-light-0);
    &:hover {
        /*background-color: var(--white-1);*/
        &::before {
            background-color: var(--green-1);
        }
    }
    &:active {
        /*background-color: var(--white-2);*/
        &::before {
            background-color: var(--green-2);
        }
    }
}

.slider-button {
    &::before {
        position: absolute;
        content: "";
        height: 2.6rem;
        width: 2.6rem;
        left: 0.4rem;
        bottom: 0.4rem;
        background-color: var(--green-0);
        -webkit-transition: .4s;
        transition: background-color .4s, transform .4s;
    }
    &.round {
        border-radius: 3.4rem;
        &:before {
            border-radius: 50%;
        }

    }
}

input:checked + .slider-button {
    background-color: var(--green-0);
    &:hover {
        background-color: var(--green-1);
    }
    &:active {
        background-color: var(--green-2);
    }
}

input:focus-visible + .slider-button {
    box-shadow: 0 0 1px var(--green-3);
}

input:checked + .slider-button:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: var(--white-0);
    &:hover {
        background-color: var(--white-1);
    }
    &:active {
        background-color: var(--white-2);
    }

}

.slider-button.round {
    border-radius: 34px;
}





/* double range slider styling */

.double-slider-container {
    max-width: 100%;
}

input[type='range'] {
    cursor: pointer;
    outline: none;
}
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--filter-bar);
}
input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 0;
    background: none;
    z-index:1;
}

input[type='range']:nth-child(2)::-webkit-slider-runnable-track{
    background: none;
    z-index: 0;
}

input[type='range']::-webkit-slider-thumb {
    position: relative;
    height: 2.4rem;
    width: 2.4rem;
    margin-top: -1.2rem;
    border-radius: 50%;
    z-index: 1;
}

#members-min-range::-webkit-slider-thumb {
    background: var(--green-0);
    filter: var(--shadow-dark-0);
    z-index: 1;
}
#members-max-range::-webkit-slider-thumb {
    background: var(--green-1);
    filter: var(--shadow-dark-0);
    z-index: 2;
}

.member-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10.4rem;
    &:hover {
        background: linear-gradient(135deg,
        rgba(255 255 255 / 0.1) 0%,
        rgba(233 253 255 / 0.2) 22%,
        rgba(255 255 255 / 0.05) 47%,
        rgba(230 255 255 / 0.2) 71%,
        rgba(255 255 255 / 0.1) 100%);
        /*border: 1px outset rgba(255 255 255 / .4);*/
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}

.double-slider-container{
    position: relative;
    width: 100%;
    outline: none;
    border: none;
    padding-top: 3.2rem;
    padding-bottom: 2.4rem;
    max-width: 100%;

    & input{
        position: absolute;
        height: 0.8rem;
        padding: 0;
        margin: 0;
        border: 0;
    }

    & label{
        position: absolute;
        margin-top: -3.2rem;
        left: 10px;
        overflow: visible !important;
        min-width: 8.4rem;
        text-align: center;
        @media (max-width: 800px) {
            min-width: 3.2rem;
        }
    }

    & .right{
        position: relative;
        /*float: left;*/
        /*margin-left: 70px;*/
    }

    & .left {
        position: relative;

    }
}



/* single range slider styling */
.single-slide-container {
    width: 100%;
    outline: none;
    border: none;
    position: relative;

    & .slider {
        position: relative;
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        min-height: 0.8rem;
        max-height: 0.8rem;
        background: var(--filter-bar);
        outline: none;
        border: none;
        -webkit-transition: .4s;
        padding: 0;
        margin-top: 1.2rem;
        margin-bottom: 1.6rem;
        filter: var(--shadow-light-0);

        &:hover {
            outline: none;
            border: none;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 2.4rem;
            height: 2.4rem;
            border-radius: 50%;
            background: var(--green-0);
            cursor: pointer;
            filter: var(--shadow-dark-0);
            position: relative;
            z-index: 1;
        }
    }
}

.artistPageTourdate {
    cursor: pointer;
}




@-moz-document url-prefix() {
    .single-slide-container {
        padding-bottom: 3rem;
    }
    .double-slider-container::before{
        content: '';
        width: 100%;
        height: 0.8rem;
        background: var(--filter-bar);
        border-radius: 0.4rem;
        outline: none;
        border: none;
        display: block;
        position: relative;
        top: 0.8rem;
    }

    .double-slider-container input[type='range']:nth-child(1),
    .single-slide-container .slider {
        position: absolute;
        overflow: visible !important;
        height: 0;
        z-index: 2;
        width: 100%;
        background: none;
    }
    .double-slider-container input {
        background: none !important;
    }

    .double-slider-container input[type='range']::-moz-range-thumb,
    .single-slide-container .slider::-moz-range-thumb {
        -webkit-appearance: none;
        appearance: none;
        position: relative;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        outline: none;
        border: none;
        background: var(--green-0);
        cursor: pointer;
        filter: var(--shadow-dark-0);
        top: -0.4rem;
        margin-top: -7px;
        z-index: 2;
    }

    .double-slider-container input[type='range']:nth-child(2) {
        position: absolute;
        overflow: visible !important;
        height: 0;
        z-index: 2;
        background: none;

    }
    #members-max-range::-moz-range-thumb{
        background: var(--green-1);
    }

}

.spotify-player {
    border-radius: 1.2rem;
    border: 0;
}

/* ---  animations  --- */
@keyframes fade-in-out {
    0% {
        opacity: 0;
    }

    8% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes wipe {
    0% {
    linear-gradient(0deg, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 50%);
    }

    8% {
    linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%, rgba(0,0,0,0) 100%);
    }

    80% {
    linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%, rgba(0,0,0,0) 100%);
    }

    100% {
    linear-gradient(0deg, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 50%);
    }
}
