<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Name }} - Artist Tracker</title>

    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Jockey One' rel='stylesheet'>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/andy_bell-css_reset.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
<main>
    <div class="wrapper artistwrapper">
        <section class="search-container">
            <a href="/" class="linkback"></a>
            <div class="content" style="align-self: start">
            <img class="pic user" src="{{.TheAudioDbArtist.ArtistThumb}}" alt="Profile image of {{.Name}}"/>
            <div class="content-text go-down">
                <div class="p--bold cut" >
                    {{ .Name }}
                </div>
            </div>
        </div>
        <div class="artist-details-small">
            <p class="create">created on {{ .CreationDate }}</p>
            <p class="p--bold">Band Members</p>
            <div class="content">
                <img class="pic user smallpic" src="{{.TheAudioDbArtist.ArtistThumb}}" alt="Profile image of {{.Name}}"/>
                <img class="pic user smallpic" src="{{.TheAudioDbArtist.ArtistThumb}}" alt="Profile image of {{.Name}}"/>
                <img class="pic user smallpic" src="{{.TheAudioDbArtist.ArtistThumb}}" alt="Profile image of {{.Name}}"/>
                <img class="pic user smallpic" src="{{.TheAudioDbArtist.ArtistThumb}}" alt="Profile image of {{.Name}}"/>
            </div>

        </div>
            <div class="container">
                <div id="search-results"  class="container scroll" style="overflow-y: hidden">
                        <h2>First Album</h2>
                        <div class="col col2">
                            <div class="content">
                                <div class="content">
                                    <img class="pic album" src="{{.TadbAlbum.AlbumThumb}}" alt="Profile image of {{.Name}}"/>
                                    <div class="content-text go-down">
                                        <div class="p--bold cut" >{{.TadbAlbum.Album}}</div>
                                        <p class="create">created on {{ .FirstAlbum }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

        </section>

        <section id="home-albums" class="container col col1">

                <h2>Albums</h2>
                <div class="row scroll">
                    <div class="content">
                        <img class="pic album" src="{{.TadbAlbum.AlbumThumb}}" alt="Profile image of {{.Name}}"/>
                        <div class="content-text go-down-home">
                            <div class="p--bold cut" >{{.TadbAlbum.Album}}</div>
                            <div class="small light cut">{{.Name}}</div>
                        </div>
                </div>

        </section>
        <section id="home-concerts" class="container">
            <div  class="container scroll col col1">
                <h2>Concerts</h2>
                <div id="map" style="width: 100%; min-height: 500px;"></div>
                <div class="col col3">
                    {{ $artist := . }}
                    {{ range $location, $dates := $artist.DatesLocations }}
                    {{ $randomDates := randomiseDates $dates }}
                    {{ range $date := $randomDates }}
                    {{ $dateParts := formatDate $date }}
                    <div class="content">
                        <div class="pic date">
                            <div>{{ $dateParts.Day }} {{ $dateParts.Month }}</div>
                            <div>{{ $dateParts.Year }}</div>
                        </div>
                        <div class="content-text go-down-home">
                            <div class="p--bold cut concert">{{ $artist.Name }}</div>
                            <div class="concert">
                                <div class="small light cut">{{ $location }}</div>
<!--                                <div class="divider-dot"></div>-->
<!--                                <div class="small light cut"></div>-->
                            </div>
                        </div>
                    </div>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </section>
    </div>
</main>
<script type="text/javascript" src="../js/default.js"></script>
<!--for search-bar-suggestions-->
<script type="text/javascript" src="../js/suggestion.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js"></script>
<script src="/js/app.js"></script>
</body>
</html>