<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Name }} - Artist Tracker</title>
    <style>
      .artist-wrapper::before {
         background: url('{{randomiseFanartImage .TheAudioDbArtist.ArtistThumb .TheAudioDbArtist.ArtistFanart .TheAudioDbArtist.ArtistFanart2 .TheAudioDbArtist.ArtistFanart3 .TheAudioDbArtist.ArtistFanart4}}') no-repeat 0 0;
      }

      .first-album::before {
         background: url('{{.TheAudioDbArtist.ArtistClearart}}') no-repeat right bottom;
      }
    </style>

    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Jockey One' rel='stylesheet'>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/andy_bell-css_reset.css">
    <link rel="icon" href="../icons/favicon-record.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
<main>
    <div class="wrapper artist-wrapper">
        <section class="artist-container">
            <a href="/" class="linkback"></a>
            <div id="artist-profile" class="content go-across-lg">
                <img class="pic user pic--lg" src="{{.TheAudioDbArtist.ArtistThumb}}" alt="Profile image of {{.Name}}"/>
                <div class="content-text center go-down">
                    <h2 class="h2-jockey band-name">
                        {{ .Name }}
                    </h2>
                    <p class="pill pill-created">Created in {{ .CreationDate }}</p>
                </div>
            </div>
            <div class="artist-details-small">
                <p class="p--bold">Band Members</p>
                <div class="go-across-md ">
                {{ range $memberName, $imgLink := .Members }}
                    <div class="content member-item">
                        <img class="pic user pic--sm" src="{{ $imgLink }}" alt="Profile image of {{ $memberName }}"/>
                        <div class="small center">{{ $memberName }}</div>
                    </div>
                {{ end }}
                </div>
            </div>
            <div class="container first-album">
                <div class="container scroll" >
                        <h2>First Album</h2>
                        <div class="col col2">
                            <div class="go-down">
                                {{ $artist := . }}
                                <a id="first-album" class="content" href="/album?name={{$artist.Name}}&album={{.FirstAlbumStruct.Album}}&year={{.FirstAlbumStruct.YearReleased}}">
                                    {{if .FirstAlbumStruct.Album3DThumb}}
                                    <img class="pic pic--lg album" src="{{.FirstAlbumStruct.Album3DThumb}}"
                                             alt="Album cover of ({{.FirstAlbumStruct.Album}})"/>
                                    {{ else }}
                                    <img class="pic pic--lg" src="{{.FirstAlbumStruct.AlbumThumb}}"
                                         alt="Album cover of ({{.FirstAlbumStruct.Album}})"/>
                                    {{ end }}
                                        <div class="content-text go-down">
                                            <div class="h3-jockey">{{.FirstAlbumStruct.Album}}</div>
                                            <p id="albumInfo" data-album="{{ .FirstAlbum }}" style="display: none"></p>
                                            <p id="actualAlbumInfo" data-album="{{.FirstAlbumStruct.YearReleased}}"
                                               style="display: none"></p>
                                            <p id="createSwitch" class="">{{.FirstAlbumStruct.YearReleased}}</p>
                                        </div>
                                </a>
                            </div>
                            <div id="embed-iframe" class="spotify-player"></div>
                        </div>
                </div>
            </div>
        </section>

        <section id="artist-albums" class="container col col1">
            <div class="container">
                <h2>Albums</h2>
                <div class="col col2 scroll">
                    {{ $artist := . }}
                    {{ range .AllAlbums.Album }}
                    <a class="content" href="/album?name={{$artist.Name}}&album={{ .Album }}&year={{.YearReleased}}">
                        <img class="pic album" src="{{.AlbumThumb}}" alt="Album cover of ({{.Album}})"/>
                        <div class="content-text go-down">
                            <div class="p--bold cut" >{{.Album}}</div>
                            <div class="small light cut">{{.YearReleased}}</div>
                        </div>
                    </a>
                    {{ end }}
                </div>
            </div>
        </section>
        <section id="artist-concerts" class="container col col1">
            <div class="space">
                <h2>Concerts</h2>
                <div id="map-controls" class="go-across-md">
                    <div id="mapProject" class="button-2 button go-across-sm">

                        <div class="button-text">Switch to 2D View</div>
                        <div class="globe hide"></div>
                        <div class="kaart"></div>
                    </div>
                    <div id="resetMap" class="button button-2 go-across-sm ">
                        <div class="button-text">Reset map</div>
                        <div id="kaartReset"></div>
                    </div>
                </div>
            </div>
            <div class="col col2 col40-60" >
                <div class="col col1 scroll concerts-list">

                    {{ $artist := . }}
                    {{ range $index, $concert := $artist.TourDetails.Data }}
                        {{ $location := printf "%s, %s" $concert.Location.Address.AddressLocality $concert.Location.Address.AddressCountry }}
                        {{ $dateParts := formatDate $concert.StartDate }}
                      <!--     Temporary debug print 
                        <div>Concert ID: {{ $concert.ConcertId }}</div> -->
                        <a class="content artistPageTourdate" data-index="{{ $concert.ConcertId }}">
                            <div class="pic date">
                                <div>{{ $dateParts.Day }} {{ $dateParts.Month }}</div>
                                <div>{{ $dateParts.Year }}</div>
                            </div>
                            <div class="content-text go-down-home">
                                <div class="p--bold cut concert">{{ $concert.Location.Address.AddressLocality }}</div>
                                <div class="concert">
                                    <div class="small light cut">{{ $concert.Location.Address.AddressCountry }}</div>
                                </div>
                            </div>
                        </a>
                    {{ end }} 

                   

                </div>
                <div id="map-container" class="concerts-map"><div id="map" ></div></div>
            </div>

        </section>
    </div>
</main>
<script src="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js"></script>
<script src="/js/map_indiv.js"></script>
<!--<script type="module" src="/js/default.js"></script>-->
<script type="module" src="/js/artist.js"></script>
<script src="https://open.spotify.com/embed/iframe-api/v1" async></script>
<script type="text/javascript">
    window.onSpotifyIframeApiReady = (IFrameAPI) => {
        const element = document.getElementById('embed-iframe');
        const options = {
            width: '100%',
            height: '180',
            uri: 'spotify:album:{{.SpotifyAlbum.Id}}'
        };
        const callback = (EmbedController) => {};
        IFrameAPI.createController(element, options, callback);
    };
</script>
</body>
</html>
