<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ .Name }} tour dates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js"></script>
    <link
            href="https://api.tiles.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css"
            rel="stylesheet"
    />
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
<div id="map"></div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibG9yZXdvcmxkIiwiYSI6ImNsd3FseDNsbDAzZjMyanF2czh3Mmt4eTgifQ.-_bXsAv_SR1bpcmvOSpDuA';
    const map = new mapboxgl.Map({
        container: 'map',
        // the final string in the url is found in MapBoxHtmlValues["artist"][0]
        // index [0] is the string location
        style: 'mapbox://styles/loreworld/clx6fy3dp01w001pnegho7ud8',
        zoom: 2,
        center: [-100, 25]
    });

    map.addControl(new mapboxgl.NavigationControl());
    // map.scrollZoom.disable();

    map.on('load', () => {
        map.addLayer({
            "type": "geojson",
            "data": "../db/mapbox/0.geojson",
            "generateId": true
        });
    });

    map.on('style.load', () => {
        map.setFog({
            "range": [0.8, 9],
            "color": "#471e50",
            "horizon-blend": .2,
            "high-color": "#07173e",
            "space-color": "#000000",
            "star-intensity": 0.35
        }); //
    });
    /* Add an event listener that runs when a user clicks on the map element. */
    map.on('click', (event) => {
        // If the user clicked on one of your markers, get its information.
        const features = map.queryRenderedFeatures(event.point, {
            layers: ['Queen-tourdates'] //  MapBoxHtmlValues[0][1]
        });
        if (!features.length) {
            return;
        }
        const feature = features[0];

        /* Create a popup, specify its options and properties, and add it to the map. */
        const popup = new mapboxgl.Popup({ offset: [0, -15] })
            .setLngLat(feature.geometry.coordinates)
            .setHTML(
                `<h3>${feature.properties.title}</h3><p>${feature.properties.date}</p><p>${feature.properties.eventAddress}</p>`
            )
            .addTo(map);
    });
</script>
</body>
</html>