<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Tracker</title>

    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Jockey One' rel='stylesheet'>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/andy_bell-css_reset.css">

</head>
<body>
<main>
    <div class="wrapper">
        <section class="logo-container">
            <a class="logo" href="/">Artist Tracker</a>
            <p>by Gary Norman & Kamil Ornal</p>
        </section>

        <section class="search-container">
            <div class="search-input">
                <label for="search-input"></label>
                <input type="text" name="search-input" id="search-input" value="" placeholder="Search artist"  >
            </div>

            <h2 class="title-floating">Recent searches</h2>
            <div class="container">
                <div class="col1">
                    <h2>Artists</h2>
                    <div class="col3">
                        <div class="content">
                            <div class="square-pic">

                            </div>
                            <div class="artist-name">
                                <div class="p--bold" >Queen</div>
<!--                                <div class="small">Queen</div>-->
                            </div>


                        </div>
                        <div class="content">
                            <div class="square-pic">

                            </div>
                            <div class="artist-name">
                                <div class="p--bold">Taylor Swifr</div>
<!--                                <div class="small">Queen</div>-->
                            </div>
                        </div>
                        <div class="content">
                            <div class="square-pic">

                            </div>
                            <div class="artist-name">
                                <div class="p--bold" >Queen</div>
<!--                                <div class="small">Queen</div>-->
                            </div>
                        </div>
                        <div class="content">
                            <div class="square-pic">

                            </div>
                            <div class="artist-name">
                                <div class="p--bold" >Queen</div>
                                <!--                                <div class="small">Queen</div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col1">
                    <h2>Members</h2>
                    <div class="col3">
                        <div class="content">
                            <div class="square-pic">

                            </div>
                            <div class="artist-name">
                                <div class="p--bold" >Freddie Mercury</div>
                                <div class="small">Queen</div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="square-pic">

                            </div>
                            <div class="artist-name">
                                <div class="p--bold" >Freddie Mercury</div>
                                <div class="small">Queen</div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="square-pic">

                            </div>
                            <div class="artist-name">
                                <div class="p--bold" >Freddie Mercury</div>
                                <div class="small">Queen</div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="square-pic">

                            </div>
                            <div class="artist-name">
                                <div class="p--bold" >Freddie Mercury</div>
                                <div class="small">Queen</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col1">
                    <h2>Albums</h2>
                    <div class="col2">
                        <div class="content">
                            <div class="square-pic">

                            </div>
                            <div class="artist-name">
                                <div class="p--bold" >The Tortured Poets Department: The Anthology</div>
                                <div class="small">Taylor Swift</div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="square-pic">

                            </div>
                            <div class="artist-name">
                                <div class="p--bold" >The Tortured Poets Department: The Anthology</div>
                                <div class="small">Taylor Swift</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="container">
            <div class="col1">
                <h2>Popular Artists</h2>
                <div class="col3">


                </div>
            </div>
        </section>
        <section class="container">
            <div class="col1">
                <h2>Trending Albums</h2>

            </div>
        </section>
        <section class="container">
            <div class="col1">
                <h2>Concerts for you</h2>
                <div class="col2">

                </div>
            </div>
        </section>
    </div>
</main>


</body>
</html>