<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Tracker</title>

    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Jockey One' rel='stylesheet'>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/andy_bell-css_reset.css">

</head>
<body>
<main>
    <div class="wrapper">
        <section class="logo-container">
            <a class="logo" href="/">Artist Tracker</a>
            <div class="small center">by Gary Norman & Kamil Ornal</div>
        </section>

        <section id="search-container" class="search-container">
            <div class="search-input">
                <label for="search-input"></label>
                <input type="text" name="search-input" id="search-input" value="" placeholder="Search artist"  >
            </div>
            <h3 class="floating">Recent searches</h3>
            <div class="filters">

                <h3 class="floating small">Showing 6 results</h3>
                <div class="button-2">
                    <div >

                    </div>
                </div>
            </div>
            <div class="container">
                <div id="search-artists" class="col col1">
                    <h2>Artists</h2>
                    <div class="col col3">
                        <div class="content">
                            <div class="pic user">

                            </div>
                            <div class="content-text go-down">
                                <div class="p--bold" >Queen</div>
<!--                                <div class="small">Queen</div>-->
                            </div>
                        </div>
                        <div class="content">
                            <div class="pic user">

                            </div>
                            <div class="content-text go-down">
                                <div class="p--bold" >Queen</div>
                                <!--                                <div class="small">Queen</div>-->
                            </div>
                        </div>
                        <div class="content">
                            <div class="pic user">

                            </div>
                            <div class="content-text go-down">
                                <div class="p--bold">Taylor Swifr</div>
<!--                                <div class="small">Queen</div>-->
                            </div>
                        </div>
                        <div class="content">
                            <div class="pic user">

                            </div>
                            <div class="content-text go-down">
                                <div class="p--bold" >Queen</div>
<!--                                <div class="small">Queen</div>-->
                            </div>
                        </div>
                        <div class="content">
                            <div class="pic user">

                            </div>
                            <div class="content-text go-down">
                                <div class="p--bold" >Queen</div>
                                <!--                                <div class="small">Queen</div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div id="search-members" class="col col1">
                    <h2>Members</h2>
                    <div class="col col3">
                        <div class="content">
                            <div class="pic user">

                            </div>
                            <div class="content-text go-down">
                                <div class="p--bold" >Freddie Mercury</div>
                                <div class="small">Member of Queen</div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="pic user">

                            </div>
                            <div class="content-text go-down">
                                <div class="p--bold" >Freddie Mercury</div>
                                <div class="small">Member of Queen</div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="pic user">

                            </div>
                            <div class="content-text go-down">
                                <div class="p--bold" >Freddie Mercury</div>
                                <div class="small">Member of Queen</div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="pic user">

                            </div>
                            <div class="content-text go-down">
                                <div class="p--bold" >Freddie Mercury</div>
                                <div class="small">Member of Queen</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="search-albums" class="col col1">
                    <h2>Albums</h2>
                    <div class="col col2">
                        <div class="content">
                            <div class="pic album">

                            </div>
                            <div class="content-text go-down">
                                <div class="p--bold" >The Tortured Poets Department: The Anthology</div>
                                <div class="small">Taylor Swift</div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="pic album">

                            </div>
                            <div class="content-text go-down">
                                <div class="p--bold" >The Tortured Poets Department: The Anthology</div>
                                <div class="small">Taylor Swift</div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="pic album">

                            </div>
                            <div class="content-text go-down">
                                <div class="p--bold" >The Tortured Poets Department: The Anthology</div>
                                <div class="small">Taylor Swift</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="search-concerts" class="col col1">
                    <h2>Concerts</h2>
                    <div class="col col3">
                        <div class="content">
                            <div class="pic date">
                                <div>32 Mar</div>
                                <div>2004</div>
                            </div>
                            <div class="content-text go-down">
                                <div class="p--bold concert">Eras Tour!</div>
                                <div class="concert">
                                    <div class="small">Taylor Swift</div>
                                    <div class="divider-dot"></div>
                                    <div class="small">Manchester</div>
                                </div>


                            </div>



                        </div>
                        <div class="content">
                            <div class="pic date">
                                <div>32 Mar</div>
                                <div>2004</div>
                            </div>
                            <div class="content-text go-down">
                                <div class="p--bold concert">Eras Tour!</div>
                                <div class="concert">
                                    <div class="small">Taylor Swift</div>
                                    <div class="divider-dot"></div>
                                    <div class="small">Manchester</div>
                                </div>


                            </div>



                        </div>
                        <div class="content">
                            <div class="pic date">
                                <div>32 Mar</div>
                                <div>2004</div>
                            </div>
                            <div class="content-text go-down">
                                <div class="p--bold concert">Eras Tour!</div>
                                <div class="concert">
                                    <div class="small">Taylor Swift</div>
                                    <div class="divider-dot"></div>
                                    <div class="small">Manchester</div>
                                </div>


                            </div>



                        </div>
                        <div class="content">
                            <div class="pic date">
                                <div>32 Mar</div>
                                <div>2004</div>
                            </div>
                            <div class="content-text go-down">
                                <div class="p--bold concert">Eras Tour!</div>
                                <div class="concert">
                                    <div class="small">Taylor Swift</div>
                                    <div class="divider-dot"></div>
                                    <div class="small">Manchester</div>
                                </div>


                            </div>



                        </div>
                        <div class="content">
                            <div class="pic date">
                                <div>32 Mar</div>
                                <div>2004</div>
                            </div>
                            <div class="content-text go-down">
                                <div class="p--bold concert">Eras Tour!</div>
                                <div class="concert">
                                    <div class="small">Taylor Swift</div>
                                    <div class="divider-dot"></div>
                                    <div class="small">Manchester</div>
                                </div>


                            </div>



                        </div>
                        <div class="content">
                            <div class="pic date">
                                <div>32 Mar</div>
                                <div>2004</div>
                            </div>
                            <div class="content-text go-down">
                                <div class="p--bold concert">Eras Tour!</div>
                                <div class="concert">
                                    <div class="small">Taylor Swift</div>
                                    <div class="divider-dot"></div>
                                    <div class="small">Manchester</div>
                                </div>


                            </div>



                        </div>
                        <div class="content">
                            <div class="pic date">
                                <div>32 Mar</div>
                                <div>2004</div>
                            </div>
                            <div class="content-text go-down">
                                <div class="p--bold concert">Eras Tour!</div>
                                <div class="concert">
                                    <div class="small">Taylor Swift</div>
                                    <div class="divider-dot"></div>
                                    <div class="small">Manchester</div>
                                </div>


                            </div>



                        </div>
                        <div class="content">
                            <div class="pic date">
                                <div>32 Mar</div>
                                <div>2004</div>
                            </div>
                            <div class="content-text go-down">
                                <div class="p--bold concert">Eras Tour!</div>
                                <div class="concert">
                                    <div class="small">Taylor Swift</div>
                                    <div class="divider-dot"></div>
                                    <div class="small">Manchester</div>
                                </div>


                            </div>



                        </div>


                    </div>
                </div>
            </div>
        </section>


        <section id="home-artists" class="container">
            <div class="col col1">
                <h2>Discover Artists and Members</h2>
                <div class="row row-sm">
                    {{ range .}}
                    <div class="content">
                        <div class="pic user">
                            {{.Image}}
                        </div>
                        <div class="content-text go-down">
                            <div class="p--bold" >
                                {{ if gt (len .Members) 1 }}
                                <!-- If there are more than 1 member, display the first member's name -->
                                <!-- chooses a random index from pool of members. called RandIntFunc to get a random index of member-->
                                {{ index .Members (call .RandIntFunc (len .Members)) }}


                                {{ else }}
                                <!-- If there's only 1 member or no members, display the ArtistName -->
                                {{ .Name }}
                                {{ end }}

                            </div>
                            <div class="small">{{ if gt (len .Members) 1 }}
                                <!-- If there are more than 1 member, display the first member's name -->
                                {{ .Name }}
                                {{ else }}
                                <!-- If there's only 1 member or no members, display the ArtistName -->

                                {{ end }}</div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>



        </section>
        <section id="home-albums" class="container">
            <div class="col col1">
                <h2>Trending Albums</h2>
                <div class="row">
                    <div class="content">
                        <div class="pic album">

                        </div>
                        <div class="content-text go-down">
                            <div class="p--bold" >The Tortured Poets Department: The Anthology</div>
                            <div class="small">Your Mama</div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="pic album">

                        </div>
                        <div class="content-text go-down">
                            <div class="p--bold" >The Tortured Poets Department: The Anthology</div>
                            <div class="small">Taylor Swift</div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="pic album">

                        </div>
                        <div class="content-text go-down">
                            <div class="p--bold" >The Tortured Poets Department: The Anthology</div>
                            <div class="small">Taylor Swift</div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="pic album">

                        </div>
                        <div class="content-text go-down">
                            <div class="p--bold" >The Tortured Poets Department: The Anthology</div>
                            <div class="small">Taylor Swift</div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="pic album">

                        </div>
                        <div class="content-text go-down">
                            <div class="p--bold" >The Tortured Poets Department: The Anthology</div>
                            <div class="small">Taylor Swift</div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="pic album">

                        </div>
                        <div class="content-text go-down">
                            <div class="p--bold" >The Tortured Poets Department: The Anthology</div>
                            <div class="small">Taylor Swift</div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="pic album">

                        </div>
                        <div class="content-text go-down">
                            <div class="p--bold" >The Tortured Poets Department: The Anthology</div>
                            <div class="small">Taylor Swift</div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="pic album">

                        </div>
                        <div class="content-text go-down">
                            <div class="p--bold" >The Tortured Poets Department: The Anthology</div>
                            <div class="small">Taylor Swift</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="home-concerts" class="container">
            <div  class="col col1">
                <h2>Concerts</h2>
                <div class="col col3">
                    <div class="content">
                        <div class="pic date">
                            <div>32 Mar</div>
                            <div>2004</div>
                        </div>
                        <div class="content-text go-down">
                            <div class="p--bold concert">Eras Tour!</div>
                            <div class="concert">
                                <div class="small">Taylor Swift</div>
                                <div class="divider-dot"></div>
                                <div class="small">Manchester</div>
                            </div>


                        </div>



                    </div>
                    <div class="content">
                        <div class="pic date">
                            <div>32 Mar</div>
                            <div>2004</div>
                        </div>
                        <div class="content-text go-down">
                            <div class="p--bold concert">Eras Tour!</div>
                            <div class="concert">
                                <div class="small">Taylor Swift</div>
                                <div class="divider-dot"></div>
                                <div class="small">Manchester</div>
                            </div>


                        </div>



                    </div>
                    <div class="content">
                        <div class="pic date">
                            <div>32 Mar</div>
                            <div>2004</div>
                        </div>
                        <div class="content-text go-down">
                            <div class="p--bold concert">Eras Tour!</div>
                            <div class="concert">
                                <div class="small">Taylor Swift</div>
                                <div class="divider-dot"></div>
                                <div class="small">Manchester</div>
                            </div>


                        </div>



                    </div>
                    <div class="content">
                        <div class="pic date">
                            <div>32 Mar</div>
                            <div>2004</div>
                        </div>
                        <div class="content-text go-down">
                            <div class="p--bold concert">Eras Tour!</div>
                            <div class="concert">
                                <div class="small">Taylor Swift</div>
                                <div class="divider-dot"></div>
                                <div class="small">Manchester</div>
                            </div>


                        </div>



                    </div>
                    <div class="content">
                        <div class="pic date">
                            <div>32 Mar</div>
                            <div>2004</div>
                        </div>
                        <div class="content-text go-down">
                            <div class="p--bold concert">Eras Tour!</div>
                            <div class="concert">
                                <div class="small">Taylor Swift</div>
                                <div class="divider-dot"></div>
                                <div class="small">Manchester</div>
                            </div>


                        </div>



                    </div>
                    <div class="content">
                        <div class="pic date">
                            <div>32 Mar</div>
                            <div>2004</div>
                        </div>
                        <div class="content-text go-down">
                            <div class="p--bold concert">Eras Tour!</div>
                            <div class="concert">
                                <div class="small">Taylor Swift</div>
                                <div class="divider-dot"></div>
                                <div class="small">Manchester</div>
                            </div>


                        </div>



                    </div>
                    <div class="content">
                        <div class="pic date">
                            <div>32 Mar</div>
                            <div>2004</div>
                        </div>
                        <div class="content-text go-down">
                            <div class="p--bold concert">Eras Tour!</div>
                            <div class="concert">
                                <div class="small">Taylor Swift</div>
                                <div class="divider-dot"></div>
                                <div class="small">Manchester</div>
                            </div>


                        </div>



                    </div>
                    <div class="content">
                        <div class="pic date">
                            <div>32 Mar</div>
                            <div>2004</div>
                        </div>
                        <div class="content-text go-down">
                            <div class="p--bold concert">Eras Tour!</div>
                            <div class="concert">
                                <div class="small">Taylor Swift</div>
                                <div class="divider-dot"></div>
                                <div class="small">Manchester</div>
                            </div>


                        </div>



                    </div>


                </div>
            </div>
        </section>
    </div>
</main>


</body>
</html>